<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/564x/ba/c1/c3/bac1c3bf86a6bcd31eb4c2acc2ac05dd.jpg);">
    <%# <div class="container"> %>
      <h1>find your dream home.</h1>
      <a class="button-primary" style="text-decoration: none !important" href="#">search</a>
    <%# </div> %>
</div>
