<div class="d-flex justify-content-center">
  <div class="button-searches-listings d-flex" data-controller="button-searches-listings">
    <span
      class="chosen col-6 d-flex justify-content-center button-searches-listings-left"
      data-action="click->button-searches-listings#searches"
      data-button-searches-listings-target="searches">
      searches
    </span>
    <span
      class="col-6 d-flex justify-content-center button-searches-listings-right"
      data-action="click->button-searches-listings#listings"
      data-button-searches-listings-target="listings">
      listings
      </span>
  </div>
</div>
