<div class ="navbar">
  <ul class="nav-list">
    <li>
      <%= link_to profile_path do %>
        <i class="fa-solid fa-user fa-xl"></i>
      <% end %>
    </li>
    <li><i class="fa-solid fa-heart fa-xl"></i></li>
    <li><i class="fa-solid fa-magnifying-glass fa-2xl"></i></li>
    <li><i class="fa-solid fa-calendar fa-xl"></i></li>
    <li><i class="fa-solid fa-comment fa-xl"></i></li>
  </ul>
<div>
