<div class="profile_item_card mt-5">
  <img src="https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572" />
  <div class="profile_item_card_infos">
    <h3>apartment</h3>
    <p>apartment description</p>
  </div>
</div>
