<div class="swipe_card mb-5">
    <div class="swipe_card_image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url(https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572); display: flex; align-items: end">
      <div class="swipe_card_header ms-3">
        <h2>zurich</h2>
      </div>
    </div>
    <div class="swipe_card_description mt-4 ms-3">
        <p>4.5 rooms</p>
        <p>2 bedrooms</p>
        <p>1 bathroom</p>
      </div>
  </div>
