.listing-pic {
  height: 60vh;
}

.btn-close-custom {
  color: $white;
  font-size: 30px;
  margin-bottom: 0px;
}

.background-text {
  margin-top: 60px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.match-percentage {
  position: absolute;
  left: 238px;
  margin-top: 5px;

  p {
    opacity: 1;
    font-size: 20px;
    text-shadow: 0px 0px 4px $black;
  }
}
