.profile-listings{
  margin: 5vh 1vh 5vh 1vh;
}


.no-current-searches{
  margin: 5vh 1vh 5vh 1vh;
}
.no-current-listings{
  margin: 5vh 1vh 5vh 1vh;
}

.text-link{
  color: $white;
  text-decoration: none;
  font-weight: bolder;
}

.hide-element{
  display: none;
}

.listing-wrapper{
  text-decoration: none;
}
