.profile-listings{
  margin: 5vh 1vh 5vh 1vh;
}

.profile-searches{
  margin: 5vh 1vh 5vh 1vh;
}

.no-current-searches{
  margin: 5vh 1vh 5vh 1vh;
}
.no-current-listings{
  margin: 5vh 1vh 5vh 1vh;
}

.text-link{
  color: $white;
  text-decoration: none;
  font-weight: bolder;
}

.hide-element{
  display: none;
}

.listing-wrapper{
  text-decoration: none;
}

.searches-wrapper{
  text-decoration: none;
}

.profile_item_card img{
  width: 30vw;
}

.profile_search_card {
  overflow: hidden;
  background: rgba(249, 246, 240, 0.07);
  border-radius: 10px;
  padding: 6px 16px 0px 16px;
}

.search-card-head{
  display: flex;
  justify-content: space-between;
}

.search-card-body{
  padding-top: 20px;
  position: relative;
}

.search-price{
  position: absolute;
  bottom: -25px;
  right: 0px;
  font-weight:400;
}
