.profile-listings{
  margin: 5vh 1vh 5vh 1vh;
}

.profile-searches{
  margin: 5vh 1vh 5vh 1vh;
}

.no-current-searches{
  margin: 5vh 1vh 5vh 1vh;
}
.no-current-listings{
  margin: 5vh 1vh 5vh 1vh;
}

.text-link{
  color: $white;
  text-decoration: none;
  font-weight: bolder;
}

.hide-element{
  display: none;
}

.listing-wrapper{
  text-decoration: none;
}

.searches-wrapper{
  text-decoration: none;
}

.profile_search_card {
  overflow: hidden;
  background: rgba(249, 246, 240, 0.07);
  border-radius: 10px;
  padding: 16px 16px 0px 16px;
}

.profile_search_card h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
