<div class="profile-card">
  <div class="profile-image">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  </div>
    <div class="profile-content">
      <h3>Alex Drew</h3>
      <p>alexander.william.drew@gmail.com</p>
    </div>
</div>

<div class="chat-card">
  <div class="chat-image">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  </div>
    <div class="chat-card-content">
      <h3>Alex Drew</h3>
      <p>Lorem ipsum dolor simd doid...</p>
    </div>
</div>
<div class="chat-card">
  <div class="chat-image">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  </div>
    <div class="chat-card-content">
      <h3>Alex Drew</h3>
      <p>Lorem ipsum dolor simd doid...</p>
    </div>
</div>
<div class="chat-card">
  <div class="chat-image">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  </div>
    <div class="chat-card-content">
      <h3>Alex Drew</h3>
      <p>Lorem ipsum dolor simd doid...</p>
    </div>
</div>


<div class ="navbar">
  <ul class="nav-list">
    <li><i class="fa-solid fa-user fa-xl"></i></li>
    <li><i class="fa-solid fa-heart fa-xl"></i></li>
    <li><i class="fa-solid fa-magnifying-glass fa-2xl"></i></li>
    <li><i class="fa-solid fa-calendar fa-xl"></i></li>
    <li><i class="fa-solid fa-comment fa-xl"></i></li>
  </ul>
<div>
