<div class="swipe_card">
  <div class="swipe_card_image" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url(https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572); display: flex; align-items: end">
    <div class="swipe_card_header ms-3">
      <h1>zurich</h1>
    </div>
  </div>
  <div class="swipe_card_description mt-4 ms-3">
      <p>4.5 rooms</p>
      <p>2 bedrooms</p>
      <p>1 bathroom</p>
    </div>
</div>


<div class="profile_card mt-5">
  <img src="https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572" />
  <div class="profile_card_infos">
    <h2>apartment</h2>
    <p>apartment description</p>
  </div>
</div>
