<div class="container">
  <div class="swipe_card mb-5">
    <div class="swipe_card_image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url(https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572); display: flex; align-items: end">
      <div class="swipe_card_header ms-3">
        <h2>zurich</h2>
      </div>
    </div>
    <div class="swipe_card_description mt-4 ms-3">
        <p>4.5 rooms</p>
        <p>2 bedrooms</p>
        <p>1 bathroom</p>
      </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/564x/ba/c1/c3/bac1c3bf86a6bcd31eb4c2acc2ac05dd.jpg);">
    <%# <div class="container"> %>
      <h1>find your dream home.</h1>
      <a class="button-primary" style="text-decoration: none !important" href="#">search</a>
    <%# </div> %>
  </div>


  <div class="profile_card mt-5">
    <img src="https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572" />
    <div class="profile_card_infos">
      <h3>apartment</h3>
      <p>apartment description</p>
    </div>
  </div>
</div>
