<div class="d-flex justify-content-center">
  <div class="button-yes-no d-flex" data-controller="button-yes-no">
    <span
      class="col-6 d-flex justify-content-center button-yes"
      data-action="click->button-yes-no#yes"
      data-button-yes-no-target="yes">
      yes
    </span>
    <span
      class="chosen col-6 d-flex justify-content-center button-no"
      data-action="click->button-yes-no#no"
      data-button-yes-no-target="no">
      no
      </span>
  </div>
</div>
