<div class="apartment_name mb-4 mt-4">
  <h3>test apartment</h3>
</div>
<div class="show_image">
  <img src="https://cdn.shopify.com/s/files/1/0352/0236/7628/products/wassilychair4_1200x.jpg?v=1594789572" alt="Apartment picture">
</div>
<div class="apartment_information mt-4">
  <p>4.5 rooms</p>
  <p>2 bedrooms</p>
  <p>1 bathroom</p>
</div>
<div class="viewing_cta d-flex justify-content-center mt-5">
  <a class="button-primary" style="text-decoration: none !important" href="#">book a viewing</a>
</div>
<div class="message_cta d-flex justify-content-center mt-3 mb-5">
  <a class="button-secondary" style="text-decoration: none !important" href="#">message julia</a>
</div>
