.button-searches-listings {
  color: white;
  font-size: 18px;
  width: 75%;

    .button-searches-listings-left {
      border: 1px solid $white;
      border-radius: 10px 0px 0px 10px;
      padding: 4px 0px 4px 0;
    }

    .button-searches-listings-right {
      border: 1px solid $white;
      border-radius: 0px 10px 10px 0px;
      padding: 4px 0px 4px 0;
    }
}

.chosen {
  background-color: $white;
  color: $black;
}
