.button-yes-no {
  color: white;
  // border: 1px solid $white;
  font-size: 18px;
  width: 75%;
  // border-radius: 10px;

    .button-yes {
      border: 1px solid $white;
      border-radius: 10px 0px 0px 10px;
      padding: 5px;
      align-items: center;
      text-align: center;
    }

    .button-no {
      border: 1px solid $white;
      border-radius: 0px 10px 10px 0px;
      padding: 5px;
      align-items: center;
      text-align: center;
    }
}

.chosen {
  background-color: $white;
  color: $black;
}
