.button-secondary {
  background-color: none;
  color: $white;
  cursor: pointer ;
  font-weight: bold;
  font-size: 24px !important;
  text-decoration: none !important;
  // width: 100%;
  // height: 65px;

    &:active {
      font-size: 22px;
    }
}


.button-secondary-small {
  background-color: none;
  color: $white;
  cursor: pointer ;
  text-decoration: none;
  font-size: 0.8rem;

  &:active {
    font-size: 1rem;
    color: $green;
  }
}
