.profile_item_card {
  overflow: hidden;
  height: 15vh;
  background: rgba(249, 246, 240, 0.07);
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
}

.profile_item_card img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.profile_item_card h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.profile_item_card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.profile_item_card_infos {
  padding: 16px;
  color: $white;
  h3{
    font-size: 0.8rem;
    text-overflow: ellipsis;
  }
  p{
    font-size: 0.8rem;
    text-overflow: ellipsis;
  }
}

.viewing-wrapper{
  text-decoration: none;
}

.show-viewings-card-infos {
  color: $white;
  padding: 16px;
  background: rgba(249, 246, 240, 0.07);
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;

  h3{
    font-size: 2rem;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  p{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    text-decoration: none;
  }
}
