.form-control{
  background-color: $white;
}

.form-control:focus{
  background-color: $white;
}

.form-actions{
  .btn{
  color: $white;
  }
}

.form-login{

  a{
    text-decoration: none;
    color: $white;
  }
}

.primary-devise{

  .btn{
  margin: 20px 30px 30px 0px;
  font-size: 1.2rem;
  padding: 0px;
  color: $green;
  }
}

.secondary-devise{

  a{
  font-weight:lighter;
  font-size: 0.8rem;
  }
}
.form-check-label{
  color: $white;
}
 .form-check-input{
  background-color: $white;
 }

 .edit_search {
    display: flex;
    flex-direction: column;

    label {
      color: $white;
    }
 } 

 .new_search {
    display: flex;
    flex-direction: column;

    label {
      color: $white;
    }
 }

 input[type='range']::-webkit-slider-thumb {
  background-color: $green;

 }

 input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: none !important;
  background-color: $green !important;
  border: none;
  -webkit-appearance: none;
 }
.range-wrapper{
  output {
    color: $white;
    position: absolute;
    transform: translateX(-50%);
  }
 position: relative;
 margin-bottom: 24px;
}

.range-input-wrapper {
  margin-bottom: 0 !important;
}