.mapboxgl-popup {
  max-width: 200px;
  height: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}