.message-row {
  margin-bottom: 10px;
  // padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 78%;
  max-width: 600px;
  // border-radius: 4px;
  // padding: 8px;
  min-height: 60px;
}

.sender-style {
  background: rgba(249, 246, 240, 0.27);
  border-radius: 10px;
  padding: 3px;

    small {
      color: $white;
      opacity: 0.3;
      margin-left: 5px;
    }

    p {
      margin-left: 5px;
      margin-bottom: 0px;
    }
}

.receiver-style {
  background: rgba(249, 246, 240, 0.07);
  border-radius: 10px;
  padding: 3px;

  small {
      color: $white;
      opacity: 0.2;
      margin-left: 5px;
  }

  p {
    margin-left: 5px;
    margin-bottom: 0px;
  }
}
