.profile-header-card{
  background-color: rgba($white, 0.07);
  border-radius: 10px;
  padding: 4%;
  color: $white;
  margin: 30px 0px 30px 0px;
}

.profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-content{
  margin: 4%;
  overflow: hidden;
  p{
    margin-bottom: 0px;
  }
}
