.form {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	display: flex;
	width: 100%;	

	.search_button {
		border: none;
		color: $green;
		width: 35%;
		background-color: $black;
		border-radius: 0px 10px 10px 0px;
	}

	.search_form {
		background-color: $white;
		border-radius: 10px 0px 0px 10px;
		width: 65%;
	}
	
}