.form {
	width: 90%;
	display: flex;
	margin: 0 auto;	

	.search_button {
		border: none;
		color: $green;
		width: 40%;
		background-color: $black;
		border-radius: 0px 10px 10px 0px;
	}

	.search_form {
		width: 60%;
		background-color: $white;
		border-radius: 10px 0px 0px 10px;
	}
	
}