.swipe_card {
  border-radius: 10px;
  padding: 10px;
  height: 70vh;
  margin: 0px;
  padding: 0px;
  width: 100%;

  .listing-price {
    font-size: 26px;
  }

  .swipe_card_header {
    color: $white;
  }

  .swipe_card_image {
    border-radius: 10px;
    height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swipe_card_description {
    color: $white;
    font-weight: lighter;
    font-size: 16px;
    line-height: 23px;
  }

  padding-left: 0px;
}

:root {
  --transition-time:.4s;
}

.profile {
  background-color: #2e2a27;
  border-radius: 10px;
  position: fixed;
  left: 17px;
  top: 64px;
  box-shadow: 2px 2px 45px 0px $black;
  width: 91%;
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profiles::before {
  height:100%;
}

.profile__image {
  height: 0;
  padding-bottom:150%;
  background-size: cover;
  background-position: center center;
}

.profile__infos {
  padding:12px;
  position:absolute;
  bottom:0px;
  width: 100%;
}

.profile--match {
  transition: var(--transition-time);
  transform:translateX(1500px) translateY(600px) rotate(90deg);
}

.profile--next {
  transition: var(--transition-time);
  transform:translateX(-1500px) translateY(600px) rotate(-90deg);
}

.profile--back {
  transition:var(--transition-time);
}
